<body>
    <!-- Fill code for heading-->
    <h2 style="color:white;padding-left:20px;">GNN-Book House</h2>
    <table>
    <tr>
        <td>
            <nav>
                <!-- Fill your code here -->
                <a routerLink="/admin" id="admin">Admin</a><br><br>
                <a routerLink="/customer" id="customer">Customer</a>
            </nav>
        </td>
        <td>
            <div>
            <router-outlet></router-outlet>
            <img src="assets/images/img1.jpg" style="height:250px;width:15%;">
            <img src="assets/images/img2.jpg" style="height:250px;width:15%;">
            <img src="assets/images/img3.jpg" style="height:250px;width:15%;">
            <img src="assets/images/img4.jpg" style="height:250px;width:15%;">
            <img src="assets/images/img5.jpg" style="height:250px;width:15%;">
            <img src="assets/images/img6.jpg" style="height:250px;width:15%;">
            </div>
        </td>
    </tr>
    </table>
</body>
