<h2>Add Book details</h2>

<table id="addTable">
  <!--fill the code-->
  <tr>
    <td>ISBN</td>
    <td><input [(ngModel)]="book.isbn" type="text" id="isbn" /></td>
  </tr>
  <tr>
    <td>Book Name</td>
    <td><input [(ngModel)]="book.bookName" type="text" id="bookName" /></td>
  </tr>
  <tr>
    <td>Author</td>
    <td><input [(ngModel)]="book.author" type="text" id="author" /></td>
  </tr>
  <tr>
    <td>Price ($)</td>
    <td><input [(ngModel)]="book.price" type="number" id="price" /></td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td><input [(ngModel)]="book.quantity" type="number" id="quantity" /></td>
  </tr>
  <tr>
    <td colspan="2"><button (click)="addBook()" id="add">Add Book</button></td>
  </tr>
</table>

<br><br><br><br><br>

<div id="error" style="color: red;">{{error}}</div>
